ConsoleApplication1/Service References/BookServiceRef/wcfapi2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookMgr.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookMgr.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SQLError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQLError" nillable="true" type="tns:SQLError" />
</xs:schema>